body {
   background-image: url(./images/spongebob-squarepants-bikini-bottom-art-wallpaper-scaled.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:top;
}

header {
    background-image: url(./images/676fc5678f063b7ba42b7fc9da85989c.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #074909;
}

header h1{
    font-size: 60px;
    text-align: left;
   
}


.flex-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #023d0b;
    color: #f8f4f4;
    margin: auto;
}

.flex-container h2{
    font-size: 50px;
}

.flex-container p{
    line-height: 1.5;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #eef4ee;     
}

.sticky-paragraph{
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #074909;
    background-color: #eef4ee;
}

.d-grid button{
    color: #025202;
    background-color: rgb(215, 249, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}


.d-grid button.btn-primary:hover {
    background-color: #09ac4a; /* Change background color on hover */
    border-color: #020303; /* Change border color on hover */
    color: #fff; /* Change text color on hover */
}

.d-grid h2{
    color: #074909;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}